/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Navigation Bar
:: Side Bar
*/

/* -----------------------------------------
   Shared Style
----------------------------------------- */

#main-content {
	padding: 0px;
}

/* -----------------------------------------
   Navigation Bar
----------------------------------------- */

.nav-bar {
	
}

#navBar {
	padding: 0px;
	margin: 0px;
	background: black;
}

#searchBar {
	padding: 0px;
}

#searchBar a{
	padding: 0px 3px;
}

#searchBar input {
	margin: 3px 0px 3px 0px;
}

#catchPhrase {
	float:right;
}

#joyRidePopup4 {
	width:200px;
}

#logoDiv {
	height:38px;
	margin: 0px 10px;
}

#logo {
	height:23px;
	margin-top:6px;
}

#filter-topmenu {
	list-style: none;
	padding: 3px 3px 5px 3px;
	background-color: #F0F8FF;
	margin: 0px;
}

#filter-topmenu li {
	margin: 5px 3px 5px 3px;
}

#filter-submenu {
	list-style:none;
	display: none;
}

#filter-submenu-content {
	list-style:none;
	display: inline-block;
}

/* -----------------------------------------
   Map Canvas
----------------------------------------- */

#map-container {
	padding: 0px;
}

#map_canvas {
	height: 740px;
}

/* -----------------------------------------
   Spinner
----------------------------------------- */
    
div.spinner {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
}

div.spinner div {
  width: 12%;
  height: 26%;
  background: #000;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

 @-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

	

/* -----------------------------------------
   Side Bar
----------------------------------------- */

/** Sidebar **/

#sidebar {
	padding: 0px;
}

.eventTitle {
	font-weight: bold;
	font-size: 1.3em;
	font-style: normal;
}

.rageButton {
	font-size:3em;
}

.rageButton:hover{
	color: red;
	font-style: normal;
	text-decoration: none;
}

.rageContainer {
	display: block;
	position: relative;
	bottom: 0;
	right: 0;
	padding: 10px;
}

#tipBox {
	background: url('http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/examples/tipbox.gif') no-repeat;
	display: block;
	top:0;
	position: absolute;
	height:10px;
	width:147px;
}

#markerContentInfo {
	padding:10px 20px 10px 20px;
	background-color: rgb(242,242,242);
	-webkit-box-shadow: 6px 6px 10px 3px rgb(66,66,66);
   	   -moz-box-shadow: 6px 6px 10px 3px rgb(66,66,66);
    		box-shadow: 6px 6px 10px 3px rgb(66,66,66);
}

#markerContentImage {
	float: left;
	height: 70px;
	margin: 0px 10px 0px 0px;
}

#markerContentHeader {
	border-bottom: 1px solid #999;
}

#markerContentHeaderText {
	position: relative;
	text-align:center;
	font-weight: bold;
	font-size: 17px;
	font-family: Arial, Tahoma, sans-serif;
	margin: 0.5em;
}

#markerContentWhereWhenDiv {
	text-align: center;
	margin-bottom: 10px;
}

#markerContentWhereWhenText {
	font-style: italic;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}



#markerContentMainText {
	height: 70px;
}

#clubInfoHeader {
	height: 100px;
	text-align: center;
	padding-bottom: 20px;
	display: inline;
}

#clubInfoHeaderImage {
	height: 100px;
	display: inline;
}

#clubInfoHeaderText {
	height: 100px;
	display: inline;
}

#eventLink {
	display: block;
	position: relative;
	float:right;
	right:20px;
	bottom:15px;
}

/** Navgation list **/
{ display: block; padding: 0px 0px; background: #fff; width: 100%; }

ul#nlists { 
	list-style: none; 
	font-family: "Calibri", Arial, sans-serif; 
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	padding: 0px;
	margin: 0px;
	height: 709px;
	overflow: auto;
}

ul#nlists li#eventNormal { 
	border-bottom: 1px solid #d9e2eb; 
	background: #fff; 
	display: block;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff) to(#ecf1f5));
	background-image: -webkit-linear-gradient(top, #ffffff, #ecf1f5);
	background-image:    -moz-linear-gradient(top, #ffffff, #ecf1f5);
	background-image:      -o-linear-gradient(top, #ffffff, #ecf1f5);
	background-image:         linear-gradient(top, #ffffff, #ecf1f5);
}

ul#nlists li#eventAdvertise { 
	border-bottom: 1px solid #d9e2eb; 
	background: #fff; 
	display: block;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000fff) to(#ecf1f5));
	background-image: -webkit-linear-gradient(top, #000fff, #ecf1f5);
	background-image:    -moz-linear-gradient(top, #000fff, #ecf1f5);
	background-image:      -o-linear-gradient(top, #000fff, #ecf1f5);
	background-image:         linear-gradient(top, #000fff, #ecf1f5);
}

ul#nlists li a { 
	position: relative; 
	display: block;
	box-sizing: border-box;
	width: auto;
	padding: 10px 10px; 
	text-decoration: none; 
	color: #787878;
	font-weight: bold;
	overflow: hidden;
	font-style: italic;
}

ul#nlists li a p {
	margin-bottom:0px;
}
ul#nlists li a:hover { color: #999; }

ul#nlists li a:hover::after { border-color: #c3ca80; }

ul li.head, ul#nlists li.head{
	text-align: left;
	padding: 7px 0px;
}

ul#nlists li.head { 
	border-bottom: 1px solid #b4c699;
	border-top: 1px solid #b4c699;
	color: #5e7b59; 
	text-shadow: 0 1px 1px #fff; 
	font-family: Arial, Tahoma, sans-serif;
	font-weight: bold; 
	font-size: 1em;
	padding-left: 15px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbddb1) to(#dfeacb));
	background-image: -webkit-linear-gradient(top, #cbddb1, #dfeacb);
	background-image:    -moz-linear-gradient(top, #cbddb1, #dfeacb);
	background-image:      -o-linear-gradient(top, #cbddb1, #dfeacb);
	background-image:         linear-gradient(top, #cbddb1, #dfeacb); 
}