{% load static from staticfiles %}
<div class="fixed">
    <nav class="top-bar">
      	<ul>
        	<!-- Title Area -->
        	<li class="three columns name" id="searchBar"><input type="text" id="datepicker" placeholder=" Search by date"></li>
        	<li class="toggle-topbar"><a href="#"></a></li>
      	</ul>

      	<section>
        	<!-- Left Nav Section -->
	        <ul class="left">
	        	<li><div id="logoDiv"><a href="javascript:;" data-reveal-id="aboutUsModal"><img id="logo" src="{% static "images/logos/calhaps.png" %}" /></a></div></li>
	        	<li class="divider"></li>
		 		<li id="addEvent"><a href="javascript:;" data-reveal-id="addEventModal"><img src="{% static "images/plus-icon.png" %}" style="height:12px;"/> Event</a></li>
		 		<li class="divider"></li>
		 		<li id="feedback"><a href="javascript:;" data-reveal-id="feedbackModal">Feedback</a></li>		 		
		 			<li class="divider"></li>
			 		<li><a href="/calendar/">Calendar</a></li>
			 		<li class="divider"></li>
		 			<li><a href="javascript:;" style="color:#444;"><img src="/site_media/static/images/comingsoon.png" style="position:absolute">Dashboard</a></li>
		 			<li class="divider"></li>
		 			<li><a href="/logout/"><img src="{{ userProfile.profilePic }}" style="height:30px; vertical-align: middle;">&nbsp;Howdy {{user.first_name}}!</a></li>
		 		{% if logged_in %}
		 		
		 		{% else %}
			 		<li><div id="loginDiv"><a href="/login/facebook/"><img id="login" src="{% static "images/login-facebook.png" %}"></a></div></li>
		 		{% endif %}
	        </ul>

	        <!-- Right Nav Section -->
    	    <ul class="right">
          		<li class="divider show-for-medium-and-up"></li>
          		<li class="hide-for-medium-down right"><a style="font-style:italic;">Chill out!</a></li>
        	</ul>
      	</section>
    </nav>
</div>