<div id="aboutUsModal" class="reveal-modal">
	<div style="text-align:center;">
     	<h1>About Us</h1>
     	<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/273682_845180367_987530956_n.jpg" /><br /><br />
     	<p><b><i>Hardik Agarwal:</i></b> An EECS major and comes up with random things</p>
     	<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/276089_805239109_1278516360_n.jpg" /><br /><br />
     	<p><b><i>Sanchit Bareja:</i></b> An EECS major and builds random things</p>
     	<a class="close-reveal-modal">&#215;</a>
    </div>
</div>