<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />

	<title>CalHaps</title>

	<!-- Included CSS Files (Uncompressed) -->
	<!--
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/foundation.css">
	-->

	<!-- Included CSS Files (Compressed) -->
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/foundation.min.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/app.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/joyride-1.0.3.css">

	<script src="{{ MEDIA_URL }}js/modernizr.foundation.js"></script>

	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Included JS Files (Uncompressed) -->

	<!-- 

	<script src="{{ MEDIA_URL }}js/modernizr.foundation.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.mediaQueryToggle.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.reveal.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.orbit.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.navigation.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.buttons.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.tabs.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.forms.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.tooltips.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.accordion.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.placeholder.js"></script>

	<script src="{{ MEDIA_URL }}js/jquery.foundation.alerts.js"></script>

	-->

	<!-- Included JS Files (Compressed) -->
	<script src="{{ MEDIA_URL }}js/foundation.min.js"></script>

	<!-- Initialize JS Plugins -->
	<script src="{{ MEDIA_URL }}js/app.js"></script>

    <style type="text/css">
	    #Container {position:relative;margin:20px;}
    	.TopLeft, .TopRight, .BottomLeft, .BottomRight {position:absolute; z-index:10;background-image: url({{ MEDIA_URL }}images/corners.png);width:20px;height:20px;}
	   .TopLeft {left: 0; top: 0;}
	   .TopRight {right: 0; top: 0; background-position: top right;}
	   .BottomRight {right: 0; bottom: 0; background-position: bottom right;}
	   .BottomLeft {left: 0; bottom: 0; background-position: bottom left;}
	   #map_canvas { height:300px; }
    </style>

	<!-- Google Maps API -->
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>
      function initialize() {
        var myLatlng = new google.maps.LatLng({{ event.location.lat }},{{ event.location.lng }});
        var mapOptions = {
          zoom: 16,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          draggable: false
        }
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: "{{ event.title }}"
        });
      }

      window.onload = initialize;
    </script>

    <!-- Rage requests -->
    <script type="text/javascript">
    	function sendRageRequest(rageID){
			$.ajax({
				type: "POST",
				url: "/rage/",
				data: { id: rageID, csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() }
			}).done(function( returnData ) {
				if(returnData['success']){
					$('#rageID_'+rageID).replaceWith('<div style="font-size:2em; display:inline; color:red;">&#9996;</div> RAGED with '+returnData['numberOfRagers']+' others!');
				} else {
					$('#rageID_'+rageID).replaceWith('RAGED!');
				}
			});
		}
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
		var _gaq = _gaq || [];
	  	_gaq.push(['_setAccount', 'UA-33875398-1']);
	  	_gaq.push(['_trackPageview']);

	  	(function() {
	    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	})();
	</script>
</head>

<body>

	<!-- Top Navigation Bar -->
	<ul class="nav-bar" id="navBar">
 		<li><div id="logoDiv"><a href="/"><img id="logo" src="{{ MEDIA_URL }}images/logos/calhaps.png" /></a></div></li>
 		<li id="addEvent"><a href="javascript:;" data-reveal-id="addEventModal"><img src="{{ MEDIA_URL }}images/plus-icon.png" style="height:12px;"/> Event</a></li>
 		<li id="feedback"><a href="javascript:;" data-reveal-id="feedbackModal">Feedback</a></li>
 		<li class="hide-for-medium-down" id="catchPhrase"><a style="font-style:italic;">Because college students shouldn't be studying on Friday nights!</a></li>
	</ul>

	<!-- Main Content -->
	<div class="row">
	  	<div class="twelve columns">
	  		{% csrf_token %}
	  		<div class="row">
	  			<div id="Container">
		  			<div class="TopLeft"></div>
				    <div class="TopRight"></div>
				    <div id="map_canvas"></div>
				    <div class="BottomLeft"></div>
				    <div class="BottomRight"></div>
				</div>
	  		</div>
	  		<div class="row">
		  		<div class="four columns">
		  			<script type="text/javascript">

		  			</script>
		  			<div class="panel radius">
			  			<div id="rageID_{{event.id}}">
			  				<a href="javascript:;" class="rageButton" onclick="sendRageRequest({{ event.id }})">&#9996; </a>
			  				{{ rageObject.count }} others raged here
			  			</div>
		  			</div>
		  			<img src="{{ event.club.image }}">
		  		</div>
		  		<div class="eight columns" id="map-container">
		  			<h2>{{ event.title }}</h2>
		  			<p class="radius success label">@{{ event.location.name }}, {{ event.startTime }}</p>
		  			<hr>
		  			<p>{{ event.description|safe }}</p>
		  			<h5>About the organization: {{ event.club.name }}</h5>
		  			<p>{{ event.club.description|safe }}</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Add Event Form -->
	{% include "addEventForm.html" %}

	<!-- Feedback Form -->
	{% include "feedbackForm.html" %}

</body>

</html>