<div id="feedbackModal" class="reveal-modal">
		<div style="text-align:center;">
	     	<h1>Drop us some feedback!</h1>
	     	<div id="feedbackForm">
		     	<div class="row">
		     		<textarea rows="15" cols="20" id="feedbackFormText">Did you like our site? Or found a bug? Send us some anonymous feedback. If you would like to get in touch with us, include your email in the feedback as well.

	We are constantly looking to improve this site and any form of feedback will really help us a long way :) Thanks a lot in advance!
					</textarea>
		     	</div>
		     	<br />
		     	<div class="row">
	     			<div class="four columns">
			     		<label class="right inline">Email (Optional):</label>
			     	</div>
			     	<div class="eight columns">
			     		<input type="text" placeholder="yourname@gmail.com" id="feedbackReplyTo"/>
			     	</div>
			    </div>
			    <br />
			    <a href="#" class="round button" id="feedbackFormSubmit">Submit Feedback!</a><br />
			</div>
	     	<a class="close-reveal-modal">&#215;</a>
	     </div>
	</div>

	<script type="text/javascript">
		$("#feedbackFormSubmit").click(function(){
			$("#feedbackForm").before('<div id="spinnerWait"><div class="spinner"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div><div class="bar4"></div><div class="bar5"></div><div class="bar6"></div><div class="bar7"></div><div class="bar8"></div><div class="bar9"></div><div class="bar10"></div><div class="bar11"></div><div class="bar12"></div></div><p>Sending your feedback...</p></div>');
			$.ajax({
				type: "POST",
				url: "/feedback/",
				data: { feedback: $("#feedbackFormText").val(), replyToEmail:$("#feedbackReplyTo").val(), csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() }
			}).done(function( returnData ) {
				if(returnData['success']){
					$("#feedbackForm").remove();
					$("#spinnerWait").replaceWith("<p>Thanks for your feedback! Your feedback has reached us :)</p>");
				} else {
					$("#spinnerWait").remove();
					$("#feedbackForm").replaceWith("<p>Oops! Something broke. Please try again in a while :( </p>");
				}
			});
		});
	</script>