<!DOCTYPE html>
<html>
  <head>
  	{% load static %}{% get_static_prefix as STATIC_URL %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    
    <!--Scroll effects -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/scroll-effects/css/reset.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/scroll-effects/css/main.css">
	<script src="{{ STATIC_URL }}js/scroll-effects/js/stroll.js"></script>

	<!--jQuery-->
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <!--Google maps API -->
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD8tgnC9UWlAbebHZm7iHBMH_8B2bd1ork&sensor=false"></script>-->
    <script type="text/javascript">
		var map;

      	function initialize() {
		  	var mapCenter = new google.maps.LatLng(37.87201, -122.25775);		
			var mapOptions = {
			    zoom: 15,
			    mapTypeId: google.maps.MapTypeId.ROADMAP,
			    center: mapCenter
			};
			
			var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

			//get all the events from the database
			$.get('get/events/',function(data){
				//add coordinates to list and add markers + map formatting
				console.log(data);
				for(var event in data['events']){

					//$("#items").append("name:   "+data['friends'][friend]['name']+"    fb_id:   "+data['friends'][friend]['fb_id']+"<br />");
					var newMarkerPos = new google.maps.LatLng(data['events'][event]['lat'], data['events'][event]['lng']);
					var marker = new google.maps.Marker({
					    map:map,
					    draggable:true,
					    animation: google.maps.Animation.DROP,
					    position: newMarkerPos,
					    title:data['events'][event]['title']
					});

					//Add into sidebar list
					var oldul = document.querySelectorAll("#list ul")[0];
					var newli = document.createElement("li");
					newli.appendChild(document.createTextNode(marker.getTitle()));
					oldul.appendChild(newli);

					attachEventsToMarkers(marker,data['events'][event]['title'],data['events'][event]['lat'],data['events'][event]['lng'],newli);

				}
			});
			/* FOR SCROLL EFFECTS */
			var lists = document.querySelectorAll('#list ul');
			Stroll.bind(lists[0]);

			function attachEventsToMarkers(marker,eventName,eventLat,eventLng,newli){
				var contentInfo = '<p style="text-align:center;">'+eventName+'</p><br />Latitude: '+eventLat+'</br>Longitude: '+eventLng;

				var infowindow = new google.maps.InfoWindow({
				    content: contentInfo
				});

				//handling what happens when marker is clicked
				function toggleClick() {
					infowindow.open(map,marker);
				}

				function toggleBounce() {
					if(marker.getAnimation() == null){
						marker.setAnimation(google.maps.Animation.BOUNCE);
					} else {
						marker.setAnimation(null);
					}
				}

				//add listner to the marker
				google.maps.event.addListener(marker, 'click', function(){ infowindow.open(map,marker); });

				//attaching events to list items in sidebar
				google.maps.event.addDomListener(newli,'click', toggleClick);
				google.maps.event.addDomListener(newli,'mouseover', toggleBounce);
				google.maps.event.addDomListener(newli,'mouseout', toggleBounce);

			}
		}

		function loadScript() {
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyD8tgnC9UWlAbebHZm7iHBMH_8B2bd1ork&sensor=true&callback=initialize";
		  	document.body.appendChild(script);
		}

		window.onload = loadScript;
    </script>
</head>
<body>
  	<div style="width:100%; height:100%;">
  		<div id="sidebar" style="width:25%; height:100%; float:left; text-align:center;">
  			<img style="display:block;margin-left:auto;margin-right:auto;" src="{{ STATIC_URL }}images/mobileworkslogo.png" />
  			<h3>Map of the Events</h3>
  			<div id="list">
				<ul class="tilt" style="width:100%; height:692px">
				</ul>
			</div>
  		</div>
	    <div id="map_canvas" style="width:75%; height:100%; float:left;"></div>
	</div>

	<!--Scroll effects-->
	<script type="text/javascript">
	</script>
  </body>
</html>