{% extends "base.html" %}
{% load static from staticfiles %}

{% block javascripts_imports %}

<!--Google maps API -->
<script type="text/javascript" src="{% static "js/main.js" %}"></script>

<script>  	
	$(document).ready(adjustMapCanvasHeight);
</script>
{% endblock %}

{% block main_body %}
<p>{{ request.user.get_profile.profilePic }}</p>
<p>{{ userProfile.profilePic }}</p>
<div class="twelve columns" id="main-content">
	{% csrf_token %}
	<div class="three columns" id="sidebar">
		{% if logged_in %}
 			<img src="{{ userProfile.profilePic }}">
 		{% endif %}
		<ul class="nav-bar vertical">
		  <li class="has-flyout">
		    <a href="#">Filter By</a>
		    <a href="#" class="flyout-toggle"><span> </span></a>
		    <ul class="flyout" id="filter-submenu">
		    	<li><a href="/">All</a></li>
		    	<!-- filter will be attached here. refer to main.js to see code -->
		    </ul>
		  </li>
		</ul>

		<ul id="nlists">
		</ul>
		</div>
	<div class="nine columns" id="map-container">
	    <div class="hide-for-small" id="map_canvas"></div>
	</div>
</div>
{% endblock %}