<!DOCTYPE html>
<html>
  <head>
  	{% load static %}{% get_static_prefix as STATIC_URL %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>

	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" media="all">
	<link rel="alternate stylesheet" type="text/css" href="{{ STATIC_URL }}js/responsive.css" media="all">

	<!--jQuery-->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>

	<!--jQuery UI -->
	<link type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.22.custom.css" rel="stylesheet">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.22.custom.min.js"></script>

	<!--Reveal UI-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reveal.css">
  	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.reveal.js"></script>

	<!-- DatePicker stuff -->
	<script>
		$(function() {
			$( "#datepicker" ).datepicker({
				showOn: "both",
				buttonImage: "{{ STATIC_URL }}images/calendar-icon-small.png",
				buttonImageOnly: true,
				minDate: new Date(),
				onSelect: function(dateText, inst){
					dateID = inst.selectedDay + "" + inst.selectedMonth + "" + inst.selectedYear;
					console.log($("#"+dateID).offset().top);
					console.log($("#"+dateID));
					$('#sidebar').animate({
						scrollTop:$("#"+dateID).offset().top
					});
				}
			});
		});

	</script>

    <!--Google maps API -->
    <!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD8tgnC9UWlAbebHZm7iHBMH_8B2bd1ork&sensor=false"></script>-->
    <script type="text/javascript">
		var map;

      	function initialize() {
		  	var mapCenter = new google.maps.LatLng(37.87201, -122.25775);		
			var mapOptions = {
			    zoom: 15,
			    mapTypeId: google.maps.MapTypeId.ROADMAP,
			    center: mapCenter
			};
			
			var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

			//get all the events from the database
			$.get('get/events/',function(data){
				console.log(data);
				//add coordinates to list and add markers + map formatting
				for(var party_date in data['events']){
					//Add into sidebar list
					var oldul = document.querySelectorAll("#nlists")[0];
					var newli = document.createElement("li");

					eventDate = new Date(data['events'][party_date][0]);
					newli.className = "head";
					newli.appendChild(document.createTextNode(eventDate.toDateString()));
					newli.id = eventDate.getUTCDate() + "" + eventDate.getUTCMonth() + "" + eventDate.getUTCFullYear();
					oldul.appendChild(newli);

					for(var event in data['events'][party_date][1]){
						console.log(new Date(data['events'][party_date][1][event]['startTime']))

						// console.log(new Date(data['events'][event]['startTime']*1000+72000000-1));
						// console.log(new Date(data['events'][event]['endTime']*1000+72000000-1));
						//$("#items").append("name:   "+data['friends'][friend]['name']+"    fb_id:   "+data['friends'][friend]['fb_id']+"<br />");
						var newMarkerPos = new google.maps.LatLng(data['events'][party_date][1][event]['lat'],data['events'][party_date][1][event]['lng']);
						var marker = new google.maps.Marker({
						    map:map,
						    draggable:false,
						    animation: google.maps.Animation.DROP,
						    position: newMarkerPos,
						    title:data['events'][party_date][1][event]['title']
						});

						//Add into sidebar list
						var oldul = document.querySelectorAll("#nlists")[0];
						var newa = document.createElement("a");
						newa.appendChild(document.createTextNode(marker.getTitle()));
						var newli = document.createElement("li");

						// newli.className = "head";
						newli.appendChild(newa);
						oldul.appendChild(newli);

						attachEventsToMarkers(marker,data['events'][party_date][1][event]['id'],data['events'][party_date][1][event]['title'],data['events'][party_date][1][event]['lat'],data['events'][party_date][1][event]['lng'],data['events'][party_date][1][event]['numberOfRagers'],data['events'][party_date][1][event]['where'],data['events'][party_date][1][event]['startTime'],data['events'][party_date][1][event]['hostid'],data['events'][party_date][1][event]['host'],newli);
					}
				}
			});
			/* FOR SCROLL EFFECTS */
			var lists = document.querySelectorAll('#nlists ul');

			function attachEventsToMarkers(marker,rageID,eventName,eventLat,eventLng,numberOfRagers,where,startTime,hostid,host,newli){
				var contentInfo = '<div><p style="text-align:center;">'+eventName+'</p>Host: <a href="javascript:;" onclick=getClubInfo('+hostid+')>'+host+'</a><br/>Time: '+startTime+'<br />Where: '+where+'<br /><br /><br /><button type="button" id="rageID_'+rageID+'" onclick=sendRageRequest('+rageID+')>RAGE!!! '+numberOfRagers+' others raged here</button></div>';

				var infowindow = new google.maps.InfoWindow({
				    content: contentInfo,
				    maxWidth: 500
				});

				//handling what happens when marker is clicked
				function toggleClick() {
					infowindow.open(map,marker);
				}

				function toggleBounce() {
					if(marker.getAnimation() == null){
						marker.setAnimation(google.maps.Animation.BOUNCE);
					} else {
						marker.setAnimation(null);
					}
				}

				//add listner to the marker
				google.maps.event.addListener(marker, 'click', function(){ infowindow.open(map,marker); });

				//attaching events to list items in sidebar
				google.maps.event.addDomListener(newli,'click', toggleClick);
				google.maps.event.addDomListener(newli,'mouseover', toggleBounce);
				google.maps.event.addDomListener(newli,'mouseout', toggleBounce);

			}
		}

		function getClubInfo(hostid){
			console.log(hostid);
			$.ajax({
				type: "POST",
				url: "/frat/",
				data: { clubID: hostid, csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() }
			}).done(function(returnData){
				if(returnData['success']){
					newModal = '<div id="club_'+returnData['id']+'" class="reveal-modal"><h1>'+returnData['name']+'</h1><p>'+returnData['description']+'</p><a class="close-reveal-modal">&#215;</a></div>';
					$(newModal).appendTo('body');
					$("#club_"+returnData['id']).reveal();
				}
			});
		}

		function loadScript() {
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.src = "http://maps.googleapis.com/maps/api/js?key=AIzaSyD8tgnC9UWlAbebHZm7iHBMH_8B2bd1ork&sensor=true&callback=initialize";
		  	document.body.appendChild(script);
		}

		function sendRageRequest(rageID){
			$.ajax({
				type: "POST",
				url: "/rage/",
				data: { id: rageID, csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val() }
			}).done(function( returnData ) {
				if(returnData['success']){
					$('#rageID_'+rageID).replaceWith('DONE RAGING with '+returnData['numberOfRagers']+' others!');
				} else {
					$('#rageID_'+rageID).replaceWith('DONE RAGING!');
				}
			});
		}

		window.onload = loadScript;
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
		var _gaq = _gaq || [];
	  	_gaq.push(['_setAccount', 'UA-33875398-1']);
	  	_gaq.push(['_trackPageview']);

	  	(function() {
	    	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  	})();
	</script>
</head>
<body>
  	<div style="width:100%; height:100%;">
  		{% csrf_token %}
  		<div id="sidebar" style="overflow:auto;">
  			<div id="sidebar-header" style="height:80px;position:fixed;display:block;background:white;z-index:2;width:25%;">
	  			<h1>Map of the Events</h1>
	  			<p>Date: <input type="text" id="datepicker"></p>
	  		</div>
	  		<div id="sidebar-content" style="top:80px;position:relative;">
				<section id="content">				
					<nav>
						<ul id="nlists">
						</ul>
					</nav>
				</section>
			</div>
  		</div>
	    <div id="map_canvas" style="width:75%; height:100%; float:left;"></div>
	</div>

	<!--Scroll effects-->
	<script type="text/javascript">
	</script>
  </body>
</html>